.accueil {
    opacity: 0;
}

.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.nouvelle-title {
    font-size: 3em;
    border-bottom: 5px solid black;
}

.has-4-columns {
    min-width: 72vw;
    border-radius: 40px;

    padding: 40px;

    @include media(desktop) {
        padding : 90px;
    }

    background-color: #44CFCB;
}

.wp-block-image {
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: white;
    

    .nouvelle-image {
        width: 70%;
        margin: auto;
    }

    .nouvelle-link {
        margin-top: 10%;
        padding: 5%;
        background-color: white;
        color: black;
        text-align: center;
    }
    
}

.evenement-title {
    padding-top: 10%;
    font-size: 3em;
    border-bottom: 5px solid black;
}

.evenement-content {
    background-color: #44CFCB;
    min-width: 72vw;
    border-radius: 40px;
    padding: 5%;


    @include media(desktop) {
        padding: 10% 8% 10% 8%;
    }
}

.wp-block-media-text__media {
    background-color: white;
    border : 10px solid white;
    
    @include media(desktop) {
        padding-left: 20px;
    }

    .evenement-link {
        color: black;

        @include media(desktop) {
            font-size: 1.5em;
        }
    }
}

.categorie-evenement {
    background-color: white;
    margin-bottom: 10%;
    padding: 4%;
    border-radius: 20px;
}
