// Featured image styles
.site-header {

    @include media(tablet) 
    {
        height: 50vh;
    }

    @include media(desktop) 
    {
        height: 90vh;
    }
        
    background-image: url("img/header-image.png");
    background-size: cover;
    color: white;
}

.site-header.featured-image {

   
    display : flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;


/* enfant */
    .site-branding .site-title
   {
        font-size: 8vw;
        transform : translateY(-50vh);
       // border : 1px solid #aaa;
        width : 5em;
       // background-color: #ddd;
        padding: 4px;
        
    }
 .site-branding .site-description
 {
       font-size: 5vw;
       transform : translateX(-100%);
 }

    /* enfant */
    .site-branding {
        position: relative;
        z-index: 10;
        display:flex;
        flex-direction: column;
        min-width: 78vw;
        min-height: 50vh;
        justify-content: flex-end;
    }

    .site-featured-image .entry-header {
        position: relative;
        z-index: 9;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @include media(tablet)
    {
        .site-branding{
            min-width: 78vw;
            min-height: 35vh;
        }

        .site-branding .site-title {
            font-size: 4vw;
        }

        .site-branding .site-description {
            font-size: 3vw;
        }


}

   @include media(desktop) {

            .site-branding {
                min-width: 100vw;
                min-height: 70vh;
            }


           .site-branding .site-title {
               font-size: 50vw;
           }

           .site-branding .site-description {
               font-size: 4vw; 
           }

   }

}

.site-branding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-size: 10vw;

    @include media(tablet) {
        font-size: 20vw;
    }

    @include media(desktop) {
        font-size: 10vw;
    }
}

.site-description {
    min-width: 70%;
    font-size: 2.4vw;
    color : #FCFCFC;
    padding-left: 10%;
    padding-top: 1%;
    font-weight: 1000;

    @include media(tablet) {
        font-size: 5vw;
    }

    @include media(desktop) {
        font-size: 2.4vw;
    }
}



#masthead {
    @include media(tablet) {
        padding-top: 30%;
    }

    @include media(desktop) {
        padding-top: 23%;
    }

    a {
        color: #FCFCFC;
    }

    a:hover {
        color : #44CFCB;
    }

}