.title-stuff {
    border-bottom: 5px solid black;
}

.entry-content-nouvelle {
    border: 10px solid #44CFCB;
    border-radius: 50px;

}

.text-content {
    font-size: 0.8em;
}

.entry-content-cours {
    border: 10px solid #40798C;
    border-radius: 50px;

    font-size: 0.9em;
}