

#liste-cours {
      margin-bottom:0 ;
}

.cours-title {
    border-bottom: 5px solid black;
}

.liste-cours {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 5% 5% 0% 5%;
    font-size : 1.5em;
  
    .session-1 { background-color: #26547C; color : #fff; }
    .session-2 { background-color: rgb(54, 82, 153); color : #aaa;}
    .session-3 { background-color: #D36582; color : #fff;}
    .session-4 { background-color: #FFEECF; color : #fff;}
    .session-5 { background-color: #C9A690; color : #fff;}
    h3,h4 { padding:10px;}

    @include media(mobile){
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        font-size : 1.3em;

    }

    @include media(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size : 1em;
     
    }

    @include media(desktop) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
   
    }

    @include media(wide) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
     
        }

    .entry-title {

        h3{
            font-size: .5em;
            color: black;
            width: auto;
            border-bottom: 2px solid black;
        }
        h4{
            font-size: .4em;
            color: black;
        }
    }






}